.container {
  height: 100vh;
  z-index: 0;
  position: relative;
  background: #181818;
  border-top: 3px solid #8cdec8;
  padding-left: 90px;
}
.container_main {
  max-width: 80%;
  margin: 0 auto;
}
.container_main h1 {
  color: #ffffff;
  font-size: 5rem;
  margin: 30px 0;
  display: flex;
}
.container_main h2 {
  color: #ffffff;
}
.container_main span {
  color: #8cdec8;
}
@media (max-width: 950px) {
  .container {
    padding: 0px 15px 0;
  }
}
@media (max-width: 600px) {
  .container_main h1 {
    margin: 15px 0 0;
  }
}