.container {
  max-width: 100%;
  margin: 0 5px;
  background: #ffffff;
  border-radius: 10px;
  transition: 0.5s;
  position: relative;
}
.container:hover {
  margin: 10px;
  box-shadow: 0px 0px 10px 0px #8cdec8;
}
.card_image {
  width: 100%;
  border-radius: 10px 10px 0 0px;
}
.container p {
  padding: 10px;
  color: #181818;
  text-align: center;
  background: #8cdec8;
  border-radius: 0 0 10px 10px;
}
.container a {
  text-decoration: none;
  color: #181818;
  background: #8cdec8;
  width: 30%;
  display: none;
  height: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 1s;
  cursor: pointer;
}
.container a:hover {
  color: #8cdec8;
  background: #181818;
  width: 100%;
  height: 100%;
  border-radius: 0;
}
.container:hover .card_image {
  filter: blur(5px);
}
.container:hover p {
  filter: blur(5px);
}
.container:hover a {
  display: flex;
  transition: 0.3s;
}
@media (max-width: 950px) {
  .container {
    padding-bottom: 10px;
  }
  .container p {
    border-radius: 0;
    background: #ffffff;
  }
  .container a {
    display: flex;
    position: relative;
    border-radius: 15px;
    width: 60%;
    height: 100%;
    padding: 8px 0;
  }
}
